.sobre-mim .informacoes-sobre-mim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 25px;
  align-self: center;
}

.sobre-mim .informacoes-sobre-mim p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.sobre-mim .informacoes-sobre-mim strong {
  font-weight: 600;
}

@media (max-width: 1280px) {
  .sobre-mim .flex {
    justify-content: center;
  }

  .sobre-mim .imagem-sobre-mim {
    max-width: 100%;
    padding: 0 var(--mobile-padding);
    margin-bottom: 50px;
  }

  .sobre-mim .informacoes-sobre-mim {
    padding: 0 var(--mobile-padding);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .sobre-mim .informacoes-sobre-mim {
    max-width: 100%;
  }

  .sobre-mim .informacoes-sobre-mim p {
    font-size: 1.5rem;
  }

  .sobre-mim .imagem-sobre-mim {
    max-width: 100%;
  }

  .botao {
    font-size: 1.5rem;
    width: 40%;
  }
}
