:root {
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Raleway", sans-serif;
  --fonte-gigante: 5.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.3rem;
  --fonte-normal: 1.6rem;
  --fonte-gigante-mobile: 4.5rem;

  --cor-escuro: #01001d;
  --cor-branco: #fff;
  --cor-primaria: #17004e;
  --cor-secundaria: #3700ff;
  --cor-terciaria: #43bd8e;
  --cor-rodape: #01001d;
  --cor-azul-ceu: #0099ff;
  --cor-blue: #0060ff;
  --cor-coral: #f27a5e;

  --mobile-padding: 30px;
}
